.App {
  text-align: center;
}
td,th{
  border: 1px solid black;
  padding: 2px;
}
table{
  border-collapse: collapse;
}

button {
  padding: 5px;
  margin: 5px;

  background-color: rgba(0, 128, 0, 0.64);
  border: none;
  border-radius: 5px;

  box-shadow: 4px 4px 5px black ;

  cursor: pointer;
}